<div class="form-container">
  <h1>Create Account</h1>

  <div [class.visible]="errorMessage" class="error-banner">
    {{ errorMessage }}
  </div>

  <form (ngSubmit)="onSubmit()">

    <app-input
      id="firstName"
      type="text"
      name="firstName"
      placeholder="First name"
      label="First Name"
      [required]="true"
      [value]="form.firstName"
      (valueChange)="form.firstName = $event"
    />

    <app-input
      id="lastName"
      type="text"
      name="lastName"
      placeholder="Last name"
      label="Last Name"
      [required]="true"
      [value]="form.lastName"
      (valueChange)="form.lastName = $event"
    />

    <app-input
      id="email"
      type="email"
      name="email"
      placeholder="Email address"
      label="Email"
      [required]="true"
      [value]="form.email"
      (valueChange)="form.email = $event"
    />

    <app-input
      id="password"
      type="password"
      name="password"
      placeholder="Password"
      label="Password"
      [required]="true"
      [value]="form.password"
      (valueChange)="form.password = $event"
    />

    <app-button
      label="Create Account"
      [loading]="loading"
      type="submit"
      variant="primary"
      class="submit-button"
    />

  </form>

  <p class="sign-up">Already have an account? <a routerLink="/login">Sign In</a></p>
</div>